use flake

# default logging settings
export RUST_LOG=canvas_lms=debug,pigment=debug,cpig=debug

# pigment settings
export PIGMENT_DB=res/db

if [ -f .envrc.secret ]; then
    source .envrc.secret
fi
