use flake

# default logging settings
export RUST_LOG=warn,canvas_lms=debug,pigment=debug,ebauche=debug,ebac=debug

# ebauche settings
export EBAUCHE_DB=res/db

if [ -f .envrc.secret ]; then
    source .envrc.secret
fi
