# dependencies
node_modules/

# build outputs
target/

# logs
.pnpm-debug.log

# environment
.direnv/
*.local

# editor
.vscode/
!.vscode/launch.json

# performance profiling
perf.data
flamegraph.svg
